.navbar {
  background-color: black;
  height: 65px;
  position: fixed;
}
.nav_logo {
  height: 50px;
  width: auto;
}
.nav_menu {
  padding: 8px 12px;
  display: flex;
  margin: 2px auto;
}
.nav_menu a {
  padding: 8px 20px;
  color: white;
}
